.post{
    width: 100%;
    margin: 30px 0;
    border-radius: 10px;
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0,0,0,0.47);
    box-shadow: 2px 4px 10px 1px rgba(201,201,201,0.47);

    .postWrapper{
        padding: 20px;
        box-shadow: #111111;
        border-bottom:20px solid #e3e3e3;
        .postTop{
            display: flex;
            align-items: center;
            justify-content: space-between;

            .postTopLeft{
                display: flex;
                align-items: center;

                .postProfileImg{
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                    cursor: pointer;
                }

                .postUsername{
                    font-size: 15px;
                    font-weight: 500;
                    margin: 0 10px;
                    cursor: pointer;
                }

                .postDate{
                    font-size: 14px;
                }
            }

            .postTopRight{
                .postVertButton{
                    font-size: 30px;
                    color: #333;
                    cursor: pointer;
                }
            }
        }

        .postCenter{
            margin: 20px 0;

            .postImg{
                width: 100%;
                max-height: 500px;
                object-fit: contain;
                margin-top: 20px;
                cursor: pointer;
            }
        }

        .postBottom{
            display: flex;
            align-items: center;
            justify-content: space-between;

            .postBottomLeft{
                display: flex;
                align-items: center;
                gap: 10px;

                .bottomLeftIcon{
                    font-size: 30px;
                    cursor: pointer;
                }

                .postLikeCounter{
                    font-size: 15px;
                }
            }

            .postBottomRight{
                .postCommentText{
                    font-size: 15px;
                    cursor: pointer;
                }
            }
        }

        .footerHr{
            margin: 10px 0;
        }

        .postBottomFooter{
            display: flex;
            align-items: center;
            justify-content: space-between;

            .postBottomFooterItem{
                display: flex;
                align-items: center;
                padding: 7px;
                border-radius: 5px;
                cursor: pointer;
                transition: 0.5s;

                .footerIcon{
                    color: #333;
                    font-size: 30px;
                    margin-right: 10px;
                }

                .footerText{
                    font-weight: 500;
                }
            }
        }

        .postBottomFooterItem:hover{
            background-color: rgba(0, 0, 0, 0.3);
        }
    }
    .draw_comment{
        margin-bottom: 40px;
    }
    .cmt-img{
display: flex;
        margin-top: 14px;
    }
    //#videoPage::-webkit-media-controls {
    //    filter: blur(9px);
    //
    //}
    //#videoPage::-webkit-media-controls-enclosure {
    //    filter: blur(3px);
    //} #videoPage::-webkit-media-controls-panel  {
    //          opacity: 0.5;
    //}
    #ok{
        display: block;
    }
    .cmt-avatar img {
        margin-right: 20px;
        width: 30px;
        height: 30px;
        margin-bottom: 20px;
    }.content-cmt p{
             margin-bottom: 30px;
             margin-left: 36px
         }
    .cmt-name p{
        margin-bottom: -15px;
        width: 50px;
        height: 50px;
        margin-right: 30px;
    }
    .comment-img{
        width: 40px;
        height: 40px;
        border-radius: 20px;
    }
    .comment-input{
        display: flex;
        align-items: center;
        height: 20px;
        width: 680px;
        padding: 8px;
        border-radius: 20px;
        border: 1px solid #ccc;
        color: #aaa;
    }
    .comment-input:focus-within {
        border-color: #3b5998;
        box-shadow: 0 0 5px rgba(59, 89, 152, 0.5);
    }
}