/* post */
.post {
    width: 100%;
    margin-top: 15px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);
}

/* post Top */
.postTop {
    display: flex;
    position: relative;
    align-items: center;
    padding: 15px;
}

.postAvatar {
    margin-right: 10px;
}

.postTopInfo {
}

.postTopInfo h3 {
    font-size: medium;
}

.postTopInfo p {
    font-size: small;
    color: gray;
}

/* post Bottom */
.postBottom {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 25px;
}

/* post Image */
.postImage img {
    width: 100%;
}

.postImage video {
    width: 100%;
}

/* post Options */
.postOptions {
    padding-top: 10px;
    border-top: 1px solid lightgray;
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
    color: gray;
    cursor: pointer;
    padding: 15px;
}

.postOption {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1;
}

.postOption p {
    margin-left: 10px;
}

.postOption:hover {
    background-color: #eff2f5;
    border-radius: 10px;
}

#videoPage::-webkit-media-controls {
    filter: blur(9px);

}

#videoPage::-webkit-media-controls-enclosure {
    filter: blur(3px);
}

#videoPage::-webkit-media-controls-panel {
    opacity: 0.5;
}
.comment-input{
    display: flex;
    align-items: center;
    height: 20px;
    width: 680px;
    padding: 8px;
    margin: 0 auto;
    border-radius: 20px;
    border: 1px solid #ccc;
    color: #aaa;
}
.comment-input:focus-within {
    border-color: #3b5998;
    box-shadow: 0 0 5px rgba(59, 89, 152, 0.5);
}
.draw_comment{
    margin-bottom: 40px;
    display: flex;

}
.content-cmt p{
    margin-bottom: 30px;
    margin-left: 36px
}
.cmt-img{
    margin-left: 24px;
    margin-top: 24px;
}
.cmt-name p{
    margin-bottom: -15px;

    width: 50px;
    height: 50px;
    margin-right: 30px;
}